<h1>How would you rate your experience at <i>"The Fast Food Restaurant"</i>?</h1>

<% form_with model: @survey do |form| %>
    <%= form.radio_button :rating, "0" %>
        <%= form.label :rating_0, "I am completely and totally dissatisfied." %>
    <%= form.radio_button :rating, "10" %>
        <%= form.label :rating_10, "I am completely and totally satisfied." %>
<% end %>


<%= radio_button_tag(:rating, 0) %>
<%= label_tag(:rating_0, "I'd be more satisfied 6 feet under!") %>

<%= radio_button_tag(:rating, 1) %>
<%= label_tag(:rating_1, "I hope I don't eat here again!") %>


<%= radio_button_tag(:rating, 2) %>
<%= label_tag(:rating_2, "I am neither satisfied nor dissatisfied.") %>

<%= radio_button_tag(:rating, 3) %>
<%= label_tag(:rating_3, "I would probably eat here again!") %>

<%= radio_button_tag(:rating, 4) %>
<%= label_tag(:rating_4, "I'm over the moon satisfied!") %>